/*font-family: 'Ubuntu', sans-serif;
font-family: 'Playfair Display', serif;*/
*{
	padding: 0;
	margin: 0;
	font-family: 'Playfair Display', serif;
	box-sizing: border-box;
}
.gray_link{
	color: #626262;
	text-decoration: none;
}
.gray_link:hover{
	border-bottom: 2px solid black;
}
/*****************************************************************
**************************HEADER**********************************
*****************************************************************/
.header_section_nav_links__menu_link{
	text-transform: uppercase;
	list-style-type: none;
	padding-top: 70px;
	padding-bottom: 70px;
}
.header_section{
	display: flex;
	justify-content: center;
}
.header_section_container{
	width: 100%;
	width: 1140px;
}
.header_section_nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_section_logo{
	width: 30%;
	display: flex;
	justify-content: flex-start;
}
.header_section_nav_links{
	width: 50%;
}
.header_section_nav_links_list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 14px;
}
.header_section_content{
	margin: 0 auto;
	max-width: 762px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*****************************************************************
*************************ARTICLE**********************************
*****************************************************************/
.article_section{
	display: flex;
	justify-content: center;
}
.article_section_container{
	width: 1140px;
	padding: 100px 80px 0px 80px;
}
.article_section_link__item{
	color: #b4ad9e;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
}
.article_section_link__item:hover{
	border-bottom: 2px solid black;
}
.article_section_title{
	color: #626262;
	font-size: 30px;
	padding-top: 30px;
	padding-bottom: 40px;
}
.article_section_text{
	padding-bottom: 55px;
	line-height: 24px;
}
/*****************************************************************
*************************MAIN*************************************
*****************************************************************/
.main_section{
	display: flex;
	justify-content: center;
}
.main_section_container{
	width: 1140px;
	padding: 0px 80px 135px 80px;
	display: flex;
	flex-flow: row wrap;
}
.main_section_content{
	width: 50%;
}
.main_section_title{
	color: #626262;
	font-size: 30px;
	padding-top: 30px;
	padding-bottom: 40px;
}
.main_section_links{
	padding-top: 30px;
}
.main_section_img{
	padding-top: 130px;
}
/*****************************************************************
*************************SECTION**********************************
*****************************************************************/
.input_section{
	display: flex;
	background: #f0f0f0;
	justify-content: center;
	align-items: center;
	padding-top: 70px;
	padding-bottom: 70px;
}
.input_section_container{
	display: flex;
	flex-direction: column;
}
.input_section_title{
	color: #626262;
	font-size: 30px;
	margin-bottom: 70px;
}
.input_section_form{
	border: none;
	background: inherit;
	font-size: 14px;
	width: 300px;
	font-family: 'Ubuntu', sans-serif;
}
.input_section_form_wrapper{
	width: 400px;
	border-bottom: 1px solid #000;
	display: flex;
	justify-content: space-between;
	padding-bottom: 5px;
}
.input_section_button{
	border: none;
	background: none;
}
/*****************************************************************
*************************LINK*************************************
*****************************************************************/
.load-more_section_link{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 170px;
	padding-bottom: 100px;
}
.load-more_link{
	color: #626262;
	font-size: 20px;
	text-decoration: none;
	border: 1px solid black;
	padding: 20px 35px;
}
.load-more_link:hover{
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 2px solid black;
}
/*****************************************************************
*************************FOOTER***********************************
*****************************************************************/
.footer_section{
	height: 100px;
	background: #f0f0f0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 100px 0 200px;
}
.footer_section_share_link{
	display: inline-block;
	padding-left: 10px;
	cursor: pointer;
}
.footer_section_info{
	display: inline-block;
	padding-right: 20px;
	font-family: 'Ubuntu', sans-serif;
}
.footer_section_info-link{
	display: inline-block;
	padding-left: 20px;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	color: black;
}
.footer_section_info-link:hover{
	text-decoration: underline;
}
/*****************************************************************
*************************ADAPTIVE*********************************
*****************************************************************/
	@media screen and (max-width: 1140px) {
	.header_section_container{
		width: 720px;
	}
	.header_section_nav_links_list{
		display: flex;
		flex-direction: column;
		font-size: 14px;
	}
	.header_section_nav_links__menu_link{
		padding: 10px 0;
		display: flex;
		justify-content: flex-end;
	}
	.main_section_container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}


