//====================================================================================================
.footer-body {
	padding: 0px 0px 200px 0px;
	@media (max-width:$md2+px){
		padding: 0px 0px 120px 0px;
	}
	@media (max-width:$md3+px){
		padding: 0px 0px 60px 0px;
	}
	&__column {
		padding: 0px 0px 130px 0px;
		&:last-child{
			padding: 0;
		}
	}
	&__label {
		font-size: 4rem;
		padding: 0px 0px 20px 0px;
		color: #4A4A4A;
	}
	&__contacts {
		&:last-child{
			align-self: flex-end;
		}
		@media (max-width:$md2+px){
			&:last-child{
				align-self: flex-start;
			}
			padding: 0px 0px 50px 0px;
		}
		@media (max-width:$md3+px){
			padding: 0px 0px 15px 0px;
		}
	}
	&__text {
			font-size: 2.5rem;
			padding: 0px 0px 10px 0px;
			color: #4A4A4A;
			@media (max-width:$md3+px){
				font-size: 1.8rem;
			}
	}
	&__img {
		width: 70px;
		height: 25px;
		color: #4A4A4A;
		margin: 0px 0px 10px 0px;
		transition: .5s ease-in-out;
		opacity: 1;
		&:hover{
			opacity: 0.5;
			transition: .3s ease-in-out;
		}
		img{
			display: block;
			max-width: 100%;
			height: auto;
			
		}
	}
	&__text-link{
		font-size: 2.5rem;
		color: #4A4A4A;
		@include anim(0.3s,0s);
		position: relative;
		padding: 0px 0px 10px 0px;
		@media (max-width:$md3+px){
			font-size: 1.8rem;
		}
	}
}
.footer-flex{
	@include flexbox();
	justify-content: space-between;
	align-items: flex-start;
	flex-flow: row;
	// height: 130px;
	@media (max-width:$md2+px){
		flex-flow: column;
	}
}
.footer__link{
	color: #4A4A4A;
	position: relative;
	display: inline-block;
	padding: 0px 0px 3px 0px;
	&:hover:before {
		width: 100%;
		background: #4A4A4A;
		transition: width .5s ease;
	}
	&:hover:after {
		width: 100%;
		background: transparent;
		transition: all 0s ease;
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		height: 1px;
		width: 0;
		background: #4A4A4A;
		transition: width .5s ease;
	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 1px;
		width: 0;
		transition: width 0s ease, background .5s ease;
	}
}
//====================================================================================================

