//<МИКСИНЫ>===============================================================================================
@mixin anim($time,$delay){-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin anim_cubic($time, $delay) {-webkit-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-o-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
@mixin tr($x,$y,$z){transform: translate3d($x, $y, $z);};
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;font-size: 0;}
@mixin flexorder($val){-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@font-face {
	font-family: 'GT Haptic light';
	src: url("../../fonts/") format("OTF"); 
	font-style: normal;
	font-weight: lighter;
	}
// @font-face {
// 	font-family: 'OpenSans';
// 	src: url("../../fonts/OpenSans.woff") format("woff"); 
// 	font-style: normal;
// 	font-weight: normal;
// 	}
// @font-face {
// 	font-family: 'OpenSans';
// 	src: url("../../fonts/OpenSans.woff") format("woff"); 
// 	font-style: normal;
// 	font-weight: normal;
// 	}
//</Подключаем шрифты>=======================================================================================


//<Шрифт по умолчанию>==========================================================================================
$fontfamily:"OpenSans";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth:320px;
$mw:940;
$md1:$mw+15;
$md2:992.98; 
$md3:767.98; 
$md4:479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
*{padding: 0px;margin: 0px;border: 0px;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{font-size: 10px;height: 100%;margin: 0;padding: 0;min-width: $minwidth;position: relative;width: 100%;color: #000;}
body{font-size: 100%;line-height: 1;font-family: $fontfamily;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;
	&.lock{overflow: hidden;
		@media (max-width:$md3+px){
			width: 100%;
			position: fixed;
			overflow: hidden;
		}
	}
}
input,button,textarea{font-family: $fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper{width: 100%;min-height: 100%;overflow: hidden;
	&.loaded{}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	@media (max-width:$md1+px){max-width: 992px;padding:0 25px;}
	@media (max-width:$md2+px){max-width: 768px;padding:0 80px;}
	@media (max-width:$md3+px){max-width: 576px;padding:0 25px;}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.content {
	@media (max-width:$md2+px){
		padding: 100px 0px 0px 0px;
	}
	&__text {
		padding: 0 0 30px 0;
		color: #4A4A4A;
		font-size: 3.6rem;
		font-weight: 300;
		line-height: 45px;
		@media (max-width:$md2+px){
			font-size: 3.2rem;
		}
		@media (max-width:$md3+px){
			font-size: 2.4rem;
			line-height: 32px;
		}
	}
}
.maintext {
	&__block {
		padding: 120px 0 168px 0px;
	}
}
.view {
	&__button {
		color: #4A4A4A;
		font-size: 1.8rem;
		font-weight: 300;
		line-height: 23px;
		@include anim(0.5s,0s);
		position: relative;
		border: none;
		background-color: transparent;
		&:hover{
			@include skew(-10deg);
			transform-origin: left bottom;
			transition: .5s transform ease;
			will-change: transform;
			// color: rgba(151, 151, 151, 0.651);
			&:after{
				left: 0;
				width: 100%;
			}
		}
		&:after{
			content: '';
			position: absolute;
			left: 100%;
			width: 0%;
			height: 1px;
			background-color:rgba(151, 151, 151, 0.651);
			bottom: 0;
			@include anim(0.5s,0s);
		}
	}
}

.material {
	&__block {
		@include flexbox();
		justify-content: center;
		align-items: center;
		padding: 200px 0px 200px 0px;
		// &:last-child{
		// 	padding: 0px 0px 0px 0px;
		// }
		@media (max-width:$md3+px){
			padding: 150 0px 150 0px;
			flex-direction: column;
			align-items: flex-start;
		}
	}
}
.bg__material{
	background: url(img/material__bg.png);                 
	background-repeat: repeat;
	position: relative;
	width: 100vw;
	
}
.block {
	&__img-box {
		max-width: 100%;
		display: block;
		height: auto;
		@media (max-width:$md2+px){
			max-width: 100%;
			img{
				width: 100%;
			}
		}
	}
	&__text-box {
		max-width: 100%;
		padding: 0px 0px 0px 100px;
		flex: 0 100%;
		@media (max-width:$md2+px){
			max-width: 100%;
			padding: 0px 0px 0px 40px;
			flex: 0 60%;
		}
		@media (max-width:$md3+px){
			padding: 30px 0px 0px 0px;
		}
	}
}
.center-main {
	&__button {
		@include flexbox();
		justify-content: center;
		align-items: center;
		font-size: 1.8rem;
		padding: 0px 0px 167px 0px;
	}
}
.text-box {
	max-width: 100%;
	&__label {
		font-size: 1.6rem;
		color: #4A4A4A;
		padding: 0px 0px 5px 0px;
	}
	&__text {
		font-size: 2.8rem;
		color: #4A4A4A;
		padding: 0px 0px 60px 0px;
	}
}
.simple {
	&__block {
		@include flexbox();
		justify-content: center;
		align-items: center;
		padding: 200px 0px 200px 0px;
		@media (max-width:$md3+px){
		padding: 150px 0px 150px 0px;
		flex-direction: column;
		align-items: flex-start;
		}
	}
	&__text-box {
		max-width: 100%;
		padding: 0px 100px 0px 0px;
		flex: 0 100%;
		@media (max-width:$md2+px){
			max-width: 100%;
			padding: 0px 40px 0px 0px;
			flex: 0 60%;
		}
		@media (max-width:$md3+px){
			padding: 30px 0px 0px 0px;
			order: 2;
		}
	}
	&__img-box {
		max-width: 100%;
		display: block;
		height: auto;
		@media (max-width:$md2+px){
			max-width: 100%;
			img{
				width: 100%;
			}
		}
		@media (max-width:$md3+px){
			order: 1;
		}
	}
}
.our-products {
	&__block {
		padding: 200px 0px 0px 0px;
	}
	&__text-box {
		padding: 0px 0px 100px 0px;
		@media (max-width:$md3+px){
			@include flexbox();
			justify-content: center;
		}
	}
	&__text {
		font-size: 3.6rem;
	}
	&__gallery-box {
		@include flexbox();
		flex-flow: row wrap;
		padding: 0px 0px 100px 0px;
	}
}
.gallery-box {
	&__item {
		height: 100%;
		width: 33.33%;
		padding: 0px 0px 55px 0px;
		@media (max-width:$md2+px){
			width: 50%;
		}
		@media (max-width:$md3+px){
			width: 100%;
			padding: 0px 0px 100px 0px;
		}
	}
	&__item-img {
		max-width: 100%;
		height: 100%;
		padding: 0px 0px 35px 0px;
		img{
			width: 100%;
		}
	}
	&__text-box {
		@include flexbox();
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 20px 0px 0px 0px;
	}
	&__item-label {
		font-size: 1.6rem;
		padding: 0px 0px 5px 0px;
	}
	&__item-text {
		font-size: 2.8rem;
	}
}
@media (max-width:$md2+px){
	.hidden{
		display: none;
	}
}


//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
