html{
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 10px;
}
*{
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
}
/*****************************************************************************
*********************************HEADER***************************************
*****************************************************************************/
.header__section{
  width: 100vw;
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
}
.header__background{
  background: url(../img/img__header/header_bg.png);    /* сделать картинку Your profile со стрелочкой */          
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header__background:after{
  display: block;
  content: '';
  background: url(../img/img__header/header_chart.png);             
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: 2;
}
.header__background:before{
  display: block;
  content: '';
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.header__content{
  position: relative;
  width: 100%;
  z-index: 3;
}
.wrapper{
  width: 1200px;
  margin: 0 auto;
}
/*****************************************************************************
********************************NAV*******************************************
*****************************************************************************/
.header__nav__section{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7rem;
}
.logo__link{
  color: #fe504f;
  font-size: 3.2rem;
  font-weight: bold;
  text-decoration: none;
}
.nav__items{
  display: flex;
  list-style-type: none;
}
.nav__item{
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-left: 5rem;
  padding-bottom: 1rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.nav__item:hover{
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-left: 5rem;
  text-decoration: none;
  border-bottom: 3px solid #fe504f;
  transition: ease .30s;
}
/*****************************************************************************
********************************MAIN******************************************
*****************************************************************************/
.main__section{
  background: linear-gradient(to bottom, transparent 0%, transparent 35%, white 35%, white 100%);
}
.main__section__box__info{
  height: 120px;
  width: 490px;
  background: #343434;
  position: absolute;
  bottom: 0;
  left: 0;
}
.main__section__box__info__container{
  position: relative;
}
.main__section__box__info__title{
  color: #fe504f;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2.5rem;
  line-height: 27px;
}
.main__section__box__info__title:after{
  content: "";
  display: block;
  width: 50px;
  padding-top: 1rem;
  border-bottom: 3px solid #fe504f;
}
.main__section__img{
  height: 500px;
}
.box__arrow-top{
  z-index: 10;
}
.box__arrow-top:after{
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  z-index: 10;
  border: 0;
}
.box__arrow-top:after{
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  margin-left: -10px;
  left: 10%;
  border-bottom: 25px solid #343434;
  top: -25px;
}
.main__content{                                 
  position: relative;
  z-index: 3;
}
.main__section{
  padding-top: 10rem;
}
.main__section__text{
  padding-top: 4.5rem;
  font-size: 1.4rem;
  color: #343434;
  line-height: 27px;
}
.main__section__text:last-child{
  padding-top: 3rem;
}
.main__section__subtitle{
  font-size: 1.8rem;
  padding-top: 4.5rem;
}
.main__section__info{
  padding: 0 5rem;
}
/*****************************************************************************
********************************COMMENTS**************************************
*****************************************************************************/
.comments-wrapper{
  padding: 6.5rem 5rem 10rem 5rem;
}
.comments-number__title{
  font-size: 1.8rem;
}
.comments-number__title:after{
  content: "";
  display: block;
  width: 125px;
  padding-top: 1rem;
  border-bottom: 3px solid #fe504f;
}
.comments-submit{
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
.comments-input{
  width: 82%;
  height: 40px;
  padding: 0 1.2rem;
  border: 2px solid #aeaeae;
}
.comments-button{
  width: 15%;
  height: 40px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  background: #000;
  color: #e85b3f;
  border: none;
  cursor: pointer;
}
.comments__section__box{
  padding-top: 4.5rem;
}
.comments__box{
  display: flex;
}
.comments__box__info{
  padding-left: 1.5rem;
}
.comments__title{
  font-size: 1.4rem;
  font-weight: bold;
}
.replay-link{
  text-decoration: none;
  color: black;
  transition: ease .15s;

}
.replay-link:hover{
  text-decoration: none;
  color: black;
  border-bottom: 2px solid #fe504f;
}
.comments__text{
  padding-top: 2rem;
  color: #9c9c9c;
  font-size: 1.4rem;
}
.comments__section__box-4{
  padding-top: 4.5rem;
  padding-left: 6.5rem;
}
.comments__section__box-5{
  padding-top: 4.5rem;
  padding-left: 13rem;
}
/*****************************************************************************
********************************FOOTER****************************************
*****************************************************************************/
.footer__section{
  background-color: #343434;
}
.footer__boxes{
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.footer__box__info{
  display: flex;
  align-items: center;
}
.footer__info{
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}
.footer__box__img{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.box__img{
 width: 55px;
 height: 22px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-left: 1px solid #fe504f;
}
.box__img:first-child{
  border: none;
}
@media screen and (max-width: 1240px) {
  .wrapper{
    width: 768px;
  }
  .main__img{
    width: 768px;
  }
  .main__section__box__info{
    bottom: 80px;
  }
  .main__section__box__info__container{
    height: 400px;
  }